<div id="custom-alert" class="modal fade" tabindex="-1" aria-labelledby="customAlertModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-white bg-success">
        <h5 class="modal-title text-white" id="customAlertModalLabel">Notification</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-chevron-left fs-5"></i></button>
      </div>
      <div class="modal-body text-center">
        <p class="mb-0" id="alert-message">Message here.</p>
      </div>
    </div>
  </div>
</div>
<script type="module" src="{{url}}assets/js/alertModal.js"></script>